[user]
	name = Gabriel Melo
	email = gabriel_smelo@proton.me
	signingkey = 493BD100F4426BAA
[alias]
	ci = commit
	co = checkout
	cm = checkout main
	cd = checkout develop
	cb = checkout -b
	cs = !git status -s
	cl = !git log --pretty=format:'%C(blue)%h %C(red)%d %C(white)%s - %C(cyan)%cn, %C(green)%cr'
[push]
	followTags = true
[pull]
	rebase = true
[init]
	defaultBranch = main
[commit]
	signingkey = true
[tag]
	signingkey = true
[core]
	editor = vim
